---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Bio from "../../components/Bio.astro";
import { getCollection } from "astro:content";
import readingTime from "reading-time";

export async function getStaticPaths() {
  const blogEntries = await getCollection("posts");
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<BaseLayout
  title={entry.data.title}
  description={entry.data.description}
  permalink={entry.data.title}
  current="blog"
>
  <header>
    <p>{entry.data.publishDate} ~ {readingTime(entry.body).text}</p>
    <h1>{entry.data.title}</h1>
    <hr />
  </header>
  <div class="container">
    <article class="content">
      <Content />
    </article>

    <div class="tags mt-[70px] mb-[70px]">
      {
        entry.data.tags.map((tag: any) => (
          <a class="tag-pill ml-3" href={`/tags/${tag}`}>
            {tag}
          </a>
        ))
      }
    </div>

    <hr />
  </div>
  <Bio />
</BaseLayout>

<style>
  header {
    text-align: center;
  }

  header h1 {
    margin-bottom: 0.7em;
  }

  header p {
    color: var(--text-secondary);
    text-transform: uppercase;
    font-family: var(--font-family-sans);
    font-weight: 600;
  }

  header hr {
    min-width: 100px;
    width: 30%;
  }

  .tag-pill:hover {
    transform: scale(1.15);
  }
</style>
