---
import Card from '../../components/Card.astro';
import BaseLayout from '../../layouts/BaseLayout.astro';
import { getCollection } from "astro:content";

const title = 'Blog';
const description = 'Latest articles.';
const permalink = `${Astro.site?.href}blog`;

let allPosts = await getCollection("posts");
allPosts = allPosts.sort((a, b) => new Date(b.data.publishDate).valueOf() - new Date(a.data.publishDate).valueOf());
---

<BaseLayout title={title} description={description} permalink={permalink} current="blog">
  <div class="container">
    <h1>Blog</h1>

    <div>
    {allPosts.map((post, index) => {
      const href = `/blog/${post.slug}`;
      return (
        <div>
          { index !== 0 && <hr /> }
          <div class="mb-[50px]">
          <Card
            title={post.data.title}
            pubDate={post.data.publishDate}
            description={post.data.description}
            tags={post.data.tags || []}
            href={href}
          />
          </div>
        </div>
      )
    })}
    </div>
  </div>
</BaseLayout>

<style>
  h2,
  .post-item-footer {
    font-family: var(--font-family-sans);
    font-weight: 700;
  }

  .post-item-date {
    color: var(--text-secondary);
    text-align: left;
    text-transform: uppercase;
    margin-right: 16px;
  }

  hr {
    margin: 30px auto;
  }
</style>
